{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}
{% block content %}

    <div className="App">
        <div class="container">
            <div class="row-cols-4">
                <header className="App-header">
                    <br>
                    <br>
                    <h1 class="text-center text-primary">Summarize Your Text!</h1>
                </header>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="text-center">
                <body>
                    <form action="index" method="post" style="width:100%;" novalidate>
                        {{ form.hidden_tag() }}
                        <p class="text-center text-muted">
                            {{ form.prompt.label }}<br>
                            {{ form.prompt(class_="form-control") }}
                        </p>
                        <p>{{ form.submit() }}</p>
                    </form>
                    <br>
                    <br>
                    <br>
                    <h6 class="text-center text-muted">
                        Summary
                    </h6>
                    <textarea style="width:100%;">
                    {% if gens %}
                        {{gens[0]}}
                    {% endif %}
                    </textarea>
                </body>
            </div>
        </div>
    </div>
{% endblock %}
