{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html' %}

{% block content %}

    <div  className="App">
        <nav class="navbar navbar-dark bg-primary">
            <h1 style="color:white;" >SummarizeMyText</h1>
        </nav>
        <div class="container" style="margin-top:7%;" >
            <body>
                <form action="/index" method="post" class="form-group" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.prompt.label(class_="label") }}<br>
                        {{ form.prompt(class_="form-control") }}
                    </p>

                    <p>{{ form.submit(class_="btn btn-primary") }}</p>
                </form>

                <h2 style="margin-top:5%;">
                    Output
                </h2>
                <textarea style="width:300px; height:150px;" class="form-control">
                {% if gens %}
                    {{gens[0]}}
                {% endif %}
                </textarea>
            </body>
        </div>
    </div>

{% endblock %}