<!doctype html>
<html>
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
    </head>
    <div className="App">
        <header className="App-header">
            <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/summarize.css') }}"> -->
            <a style="font-size:24px;" href="/index"><i class="fa fa-home"></i></a>
            <form id="summarize-form" action="/index">
                <textarea id="summarize-box" name="summarize-box" rows="10" cols="50">{{gens[0]}}</textarea>
            </form>
        </header>
        <!-- <script>!function(){var e=window.Cohere=window.Cohere||[];if(e.invoked)console.error("Tried to load Cohere twice");else{e.invoked=!0,e.snippet="0.2",e.methods=["init","identify","stop","showCode","getSessionUrl","makeCall","addCallStatusListener","removeCallStatusListener","widget","addSessionUrlListener","removeSessionUrlListener",],e.methods.forEach(function(o){e[o]=function(){var t=Array.prototype.slice.call(arguments);t.unshift(o),e.push(t)}});var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src="https://static.cohere.so/main.js",o.crossOrigin="anonymous";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(o,t)}}();</script>
        <script>window.Cohere.init("VQQattBOwmpc16qSuIqlMTn71XPCUWqKrcP9hDus");</script> -->
    </div>
</html>